<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uh Oh...</title>
  </head>
  <body>
    <h1 class="error-title">Uhh ohh ...</h1>
    <%- include("404-image.ejs") %>
    <div class="error">
      <h3>It looks like we can't find this page. Try the following :</h3>
      <ul>
        <li style="list-style: armenian">
           - Go back to the homepage and only access navbar links
        </li>
        <li style="list-style-type: armenian">
           - Try to reload the page after some time
        </li>
        <li style="list-style: armenian">
           - Check your internet connection and proxy
        </li>
      </ul>
    </div>
  </body>
</html>
